
$backgroundPage: #F2E4CE;
$backgroundNav: #FFFFFF;
$siteNameColor: #DB6F22;
$textColor1: #484848;
$textColor2: #A8A8A8;
$textColor3: #FFFFFF;
$btnColor1: #1e90ff;
$btnColor2: #ff7f50;

@mixin border($color) {
    box-sizing: border-box;
    border: 1px $color solid;
}

@mixin displayFlex($style, $wrap) {
    display: flex;
    flex-direction: $style;
    flex-wrap: $wrap;
}