

#Search{
    .container{
        // background-image: url(./2x1.png);
        // background-size: cover;
        border-radius: 30px;
        // background-color: white;
        // color: black !important;
        background-color: rgba($color: black, $alpha: 0.7)
    }
    .btn{
        border-color: white;
        border-radius: 20px;
        margin-left: 10px;
        box-shadow: 5px inset black;
        color: white;
        background-color: rgba($color: black, $alpha: 0.0);
        &:hover{
          border-color: #007BFF;
          color: black;
          background-color: white;
          box-shadow: 10px white;  
          font-weight: bold;
        }
    }
    
    
    *{
        font-family: serif !important;
    }
    
    .react-datepicker__input-container{
        input{
            border-radius: 15px !important;
            width: 100% !important;
        }
    }

}


.DayPicker-Day{
    &:hover{
        color: #007BFF !important;
    }
}