
*{
    font-family: serif !important;
}



.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: rgba($color: #000000, $alpha: 0.3) !important;
    color: white;
    border-radius: 0 !important;
}

.Selectable .DayPicker-Day {
    border-radius: 15px !important;
}

.Selectable .DayPicker-Day--start {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.Selectable .DayPicker-Day--end {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.jumbotron{
    // background-image: url(./2x1.jpg);
    // background-position-y: -56px;
    // background-size: auto calc(100% + 56px);
    // background-origin: border-box;
    // background-repeat: none;
    background-color: rgba($color: #000000, $alpha: 0.0);
    border-radius: 0 !important;
}

#Header{
    .btn{
        border-color: white;
        border-radius: 20px;
        margin-left: 10px;
        box-shadow: 5px inset black;
        color: white;
        background-color: rgba($color: black, $alpha: 0.0);
        &:hover{
          border-color: #007BFF;
          color: black;
          background-color: white;
          box-shadow: 10px white;  
          font-weight: bold;
        }
    }
}