.contain_box {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: none;
      flex-wrap: none;
  width: 400px;
  max-width: 400px;
  min-width: 400px;
  height: 100px;
  margin: 10px;
  background-color: #FFFFFF;
}

.contain_box .image_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: none;
      flex-wrap: none;
  width: 200px;
  max-width: 200px;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  flex-wrap: none;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  margin: 0;
}

.contain_box .image_box .special_box {
  font-size: 20px;
  text-align: center;
  height: 20px;
  padding: 0;
  margin: 0;
  width: 100px;
  min-width: 100px;
  -webkit-transform: rotate(-45deg) translateX(-25px) translateY(-20px);
          transform: rotate(-45deg) translateX(-25px) translateY(-20px);
  color: #FFFFFF;
  background-color: #484848;
  font-weight: bold;
  opacity: 0.8;
  z-index: 1;
}

.contain_box .image_box .special_box small {
  margin: auto;
  padding: auto;
}

.contain_box .image_box .nohot {
  height: 20px;
  margin: 0;
  padding: 0;
  width: 100px;
  min-width: 100px;
}

.contain_box .image_box img {
  margin: 0;
  padding: 0;
  width: 200px;
  min-width: 200px;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.contain_box .name_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: none;
      flex-wrap: none;
  width: 200px;
  margin: 0;
  text-align: center;
}

.contain_box .name_box p {
  font-size: 20px;
  color: #DB6F22;
  font-weight: bolder;
  height: 70%;
  min-height: 70%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contain_box .name_box #view {
  display: none;
  color: #DB6F22;
  font-size: 20px;
  height: 30%;
  min-height: 30%;
  margin: auto;
  margin-top: 0 !important;
  font-style: italic;
}

.contain_box:hover #view {
  display: inline;
  -webkit-animation: view 0.3s 1;
          animation: view 0.3s 1;
}

@-webkit-keyframes view {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes view {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=location_cart.css.map */