#Calendar{
    .btn-group{
        .btn{
            border-color: white;
            border-radius: 5px;
            margin-left: 10px;
            box-shadow: 5px inset black;
            color: white;
            background-color: rgba($color: black, $alpha: 0.5);
            &:hover{
              border-color: #007BFF;
              color: black;
              background-color: white;
              box-shadow: 10px white;  
              font-weight: bold;
            }
        }
        .active{
            background-color: white;
            color: black;
        }
    }
    
}